@import "twitter_variables";

/* common */
input[type="search"],
input[type="submit"],
input[type="text"],
textarea,
select {
  outline: none;
}

body {
  background: $gray-border-color;

  color: $normal-text-color;
  font-size: 14px;
  line-height: 20px;
  overflow-y: scroll;
  font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
  Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

/* media query */
@media screen and (min-width: 1236px) {
  .global-nav {
    .container {
      max-width: 1190px;
      .twitter-center-icon {
        position: absolute;
        left: 50%;
        margin-left: -12px;
      }
    }
  }
}

/* ###############  header part start  ###############*/

.container {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.topbar {
  backface-visibility: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  position: fixed;
  height: 46px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

// inside of topbar
.global-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  height: 46px;
  position: relative;
  width: 100%;
  .global-nav-inner {
    background: $white-background;
    height: 46px;
  }
  .container {
    height: 100%;
    text-align: center;
    width: auto;

    /* 左側のメニューリスト */
    .navigation {
      float: left;
      display: inline-block;
      // navigation items, ie home.
      .nav {
        text-align: left;
        li {

          overflow: hidden;
          position: relative;
          float: left;
          // text-align:left;
          text-align: inherit;

          a {
            height: 30px;
            color: $nav-color;
            position: relative;
            display: block;
            font-size: 15px;
            font-weight: bold;
            line-height: 1;
            padding: 0 14px 0 4px;
            margin-top: 14px;
            margin-left: 3px;

            @include a-common;
            &.active-nav {
              border-bottom: 2px solid #1c94e0;
              border-bottom-color: $twitter-text-and-border;
              color: $twitter-text-and-border;
            }

            &:hover {
              border-bottom: 2px solid #1c94e0;
              border-bottom-color: $twitter-text-and-border;
              color: $twitter-text-and-border;
            }

            .text {
              margin-left: 3px;
              margin-top: 17px;
              padding: 0;
            }

          }
        }
      }

    }

    /* 右側のメニュー */
    .other-nav {
      align-items: center;
      display: flex;
      padding: 0;
      width: 374px;
      height: 100%;
      /* 検索ボックスのdivタグ*/
      .search-bar-box {
        position: relative;
        height: 33px;
        margin: 6.5px 1px 6.5px 0;
        font-size: 12px;
        width: 221px;
        border: none;
        .hide-box {
          border: 0;
          clip: rect(0, 0, 0, 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }

        //TODO 検索ボックスの虫めがねアイコンのカーソルを変化させる

        //実際の検索フォーム
        .search-input {
          background: {
            position: 187px center;
            color: #f5f8fa;
          }
          border-radius: 21px;
          @include dashboard-box-border-style;
          box-sizing: border-box;
          color: $normal-text-color;
          display: block;
          font-size: 12px;
          height: 32px;
          line-height: 16px;
          padding: 8px 32px 8px 20px;
          width: 100%;
          &:focus {
            background-color: $white-background;
            border: 2px solid $twitter-text-and-border;
            opacity: 1;
            color: $normal-text-color;
          }
        }

        //  検索フォームの中に入れたい検索ボタン
        .search-icon {
          //親要素はsearch-bar-boxをもつdivタグ
          position: absolute;
          top: 5px;
          left: 185px;
          height: 23px;
          width: 25px;
          font-family: FontAwesome;
          font-size: 17px;
          background: rgba(255, 0, 0, 0);
          border: none;
          cursor: pointer;

        }

      }
    }
  }
}

/* buttons */
.tweet-btn {
  @include round-btn-common;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  border: 1px solid $twitter-text-and-border;
  color: #fff;
  background-color: $twitter-btn-color;
  &:hover {
    background-color: $twitter-text-and-border;

  }
}

/* レイアウト */

.pull-right {
  float: right;
  text-align: left;
}

//TODO jquery で出し分け ヘッダーのクリックされた要素だけスタイル適用
.active-nav {
  border-bottom: 2px solid #1c94e0;
  border-bottom-color: $twitter-text-and-border;
  color: $twitter-text-and-border;
}

/* fa-icons*/

/* 中央のツイッターアイコン */
.twitter-center-icon {
  color: $twitter-theme-color;
  cursor: pointer;
  font-size: 24px;
  margin-top: 14px;
  transition: all .25s;
  display: inline-block;
  width: 24px;
  height: 21px;
  text-align: center;
}

.fa-home {
  margin-right: 5px;
}

.fa-user-circle {
  font-size: 32px;
  color: $nav-color;
  margin: {
    right: 10px;
    left: 10px;
  }
}

/* ###############  header part end  ###############*/

/* ###############  main-page part start  ###############*/
#page-container {
  box-sizing: border-box;
  display: flex;
  width: 1218px;
  height: 4000px;
  margin: 0 auto;
  align-items: flex-start;
}

//プロフィールとトレンド表示
.left-dashboard {
  box-sizing: border-box;
  width: 290px;
  display: block;
  margin: {
    top: 56px;
    left: 14px;
  }

  //上部プロフィール
  .profile-card-wrapper {
    //プロフィールのwrapper
    background-color: $white-background;
    box-sizing: border-box;
    width: 100%;
    height: 214px;
    margin-bottom: 10px;
    position: relative;

    //上部背景
    .profile-card-background {
      box-sizing: border-box;
      width: 100%;
      height: 95px;
      margin-top: -1px;
      background: {
        color: $twitter-text-and-border;
        size: 100%;
        position: 0 50%;
      }
    }

    //アイコン表示場所
    .profile-icon-box {
      box-sizing: border-box;
      display: inline-block;
      width: 74px;
      height: 74px;
      margin: -30px 0 0 8px;
      padding: 1px;
      background-color: $white-background;
      border-radius: 50%;
      vertical-align: bottom;
      .user-profile-icon-photo {
        margin: auto;
        width: 72px;
        height: 72px;
        border: 2px solid $white-background;
        border-radius: 50%;
        box-sizing: border-box;
        color: $white-background;
      }
    }

    // TODO 4/11 はプロフィールの名前をやる
    .user-names {
      position: absolute;
      top: 103px;
      left: 90px;
      width: 185px;
      height: 43px;
      a {
        @include a-common;
        color: $normal-text-color;
        font-size: 18px;
        font-weight: bold;
        line-height: 25px;
        margin: -1px 0 -2px 0;
        &:hover {
          text-decoration: underline;
        }
      }

      p {
        @include user-id-style;
        margin-top: -3px;
        margin-bottom: 5px;

        span {
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }

    .user-stats {
      display: flex;
      box-sizing: border-box;
      height: 79px;
      width: 290px;
      padding: 16px;
      margin-top: -5px;
      .tweet-stats {
        @include user-stats-child;
      }
      .follower-stats {
        @include user-stats-child;
      }
    }
  }

  //下部トレンドボックス
  .trends-card {

    box-sizing: border-box;
    margin-top: 10px;
    padding: 15px;
    width: 290px;
    height: 422px;
    background: $white-background;
    //おすすめトレンド
    .trend-header {
      box-sizing: border-box;
      display: inline-flex;
      align-items: flex-end;
      width: 260px;
      height: 23px;
      margin-bottom: -10px;
      h3 {
        font-size: 18px;
        line-height: 22px;
        padding: 0;
        margin: 0;
      }
      a {
        @include a-common;
        font-size: 12px;
        color: $twitter-text-and-border;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    //トレンドのキーワード
    .trend-word-wrapper {
      .trend-word {
        box-sizing: border-box;
        width: 258px;
        height: 33px;
        margin-top: 20px;
        margin-bottom: 0;
        &:first-child {
          margin-top: 8px;
        }
        &:last-child {
          margin-bottom: -5px;
        }
        a {
          @include a-common;
          color: $twitter-text-and-border;
          &:hover {
            text-decoration: underline;
          }
        }
        p {
          margin: {
            top: -2px;
            right: 0;
            left: 0;
            bottom: 0;
          }
          font-size: 12px;
          line-height: 16px;
          color: #657786;

        }
      }
    }

  }

}

.center-dashboard {
  box-sizing: border-box;
  width: 590px;
  height: 2000px;
  background-color: white;
  margin: {
    top: 56px;
    left: 11px;
    right: 11px;
  }

  .tweet-bar-wrapper{
    box-sizing: border-box;
    width: 590px;
    height: 60px;
    padding: 10px 12px;
    @include dashboard-box-border-style;
    background: #E8F5FD;
    display: flex;
    position: relative;

    .user-icon{
      width: 32px;
      height: 32px;
      position: absolute;
      top: 13px;
      left: 28px;
      .tweet-box-user-icon{
        font-size: 32px;
        color: $twitter-text-and-border;
      }
      }
    .tweet-box{
      box-sizing: border-box;
      margin-left: 56px;
      width: 508px;
      height: 38px;
      padding-right: 40px;
      display: inline-block;
      position: relative;
      .tweet-input{
        box-sizing: border-box;
        width: 506px;
        height: 36px;
        padding:{
          top: 8px;
          right: 40px;
          bottom: 8px;
          left: 8px;
        }
        line-height: 20px;
        border-radius: 8px;
        border:1px solid #C6E7FB;
        background: $white-background;
      //  placeholderの色を変更
        &::-webkit-input-placeholder{
          color: $twitter-text-and-border;
          font-size: 14px;
        }
        &:-ms-input-placeholder{
          color: $twitter-text-and-border;
          font-size: 14px;
        }
        &::-moz-placeholder{
          color: $twitter-text-and-border;
          font-size: 14px;
        }
      }
      .upload-tweet-photo{
        position: absolute;
        top: 6px;
        left: 460px;
        font-family: FontAwesome;
        font-size: 20px;
        color: $twitter-text-and-border;
        background: rgba(255,0,0,0);
        border:none;
        cursor: pointer;
      }
    }

  }
}

.right-dashboard {
  box-sizing: border-box;
  width: 290px;
  margin: {
    top: 56px;
    right: 14px;
  }
  //  ユーザーボックス
  .user-recommend-container {
    box-sizing: border-box;
    width: 290px;
    height: 258px;
    padding: 15px;
    line-height: 16px;
    @include dashboard-box-border-style;
    background-color: $white-background;

    .recommended-users-container {
      box-sizing: border-box;
      width: 258px;
      height: 258px;
      .users-header {
        box-sizing: border-box;
        display: inline-flex;
        align-items: flex-end;
        width: 260px;
        height: 22px;
        line-height: 16px;
        margin-bottom: 10px;
        h3 {
          font-size: 18px;
          line-height: 22px;
          padding: 0;
          margin: 0;
        }
        a {
          @include a-common;
          line-height: 1;
          font-size: 12px;
          color: $twitter-text-and-border;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .recommended-user {
        position: relative;
        box-sizing: border-box;
        width: 258px;
        height: 58px;
        min-height: 48px;
        margin-top: 10px;
        margin-bottom: 3px;
        padding-bottom: 8px;
        border-bottom: 1px solid $gray-border-color;
        &:last-child {
          border: none;
        }
        .recommended-user-profile {
          width: inherit;
          height: 53px;

          display: inline-flex;
          align-items: flex-start;
          .recommended-user-icon {
            color: $twitter-text-and-border;
            font-size: 48px;
            width: 48px;
            height: 48px;
            cursor: pointer;
          }
          .recommended-user-name {
            @include a-common;
            word-break: break-all;
            color: $normal-text-color;
            font-size: 14px;
            font-weight: bold;
            margin: {
              top: 0;
              right: 5px;
              left: 8px;
              bottom: 0;
            }
            &:hover {
              text-decoration: underline;
              color: $twitter-text-and-border;
            }
          }
          .recommended-user-id {
            margin: 0;
            @include user-id-style;
          }
        }
        .follow-btn {
          position: absolute;
          top: 20px;
          left: 55px;

          box-sizing: border-box;
          width: 98px;
          height: 27px;
          padding: 4px 12px;

          text-align: center;
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;

          color: $twitter-text-and-border;
          background-color: $white-background;
          border: 1px solid $twitter-text-and-border;
          border-radius: 100px;

          &:hover {
            cursor: pointer;
            background-color: rgba(74, 179, 244, 0.2);
          }

        }

      }
    }
  }

  .import-users-container {
    box-sizing: border-box;
    width: 290px;
    height: 107px;
    padding: 15px;
    background-color: white;
    @include dashboard-box-border-style;
    border-top: none;
    .recommend-through-gmail {
      display: flex;
      align-items: flex-start;
      height: 35px;
      padding-bottom: 12px;
      border-bottom: 1px solid $gray-border-color;
      .gmail-icon-box {
        box-sizing: border-box;
        width: 38px;
        height: 35px;
        padding: 4px 6px;
        @include dashboard-box-border-style;
        border-radius: 3px;
        background: $white-background;
        cursor: pointer;
        .gmail-icon {
          font-size: 24px;
          color: $twitter-text-and-border;
        }
      }
      .gmail-prompt-text {
        h4, p {
          line-height: 16px;
          cursor: pointer;
          margin: {
            top: 0;
            right: 0;
            bottom: 0;
            left: 8px;
          }
        ;
        }
        h4 {
          font-size: 14px;
        }
        p {
          font-size: 12px;
          color: $light-gray-color;
        }
      }
    }
    .recommend-through-other {
      font-size: 12px;
      color: $twitter-text-and-border;
      padding: 0;
      border: 0;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .twitter-info-box {
    box-sizing: border-box;
    width: 290px;
    height: 122px;
    line-height: 16px;
    padding: 15px;
    margin-top: 11px;
    @include dashboard-box-border-style;
    background-color: $white-background;
    display: inline-flex;
    flex-wrap: wrap;
    p {
      color: $light-gray-color;
      font-size: 12px;
      font-weight: lighter;
      margin: 0;
      padding-right: 8px;
    }
    a {
      color: $light-gray-color;
      font-size: 12px;
      @include a-common;
      margin-right: 8px;
      &:hover {
        color: $twitter-text-and-border;
        text-decoration: underline;
      }
    }
  }

  .twitter-advertisement {
    box-sizing: border-box;
    width: 290px;
    height: 51px;
    background: $white-background;
    padding: 15px;
    @include dashboard-box-border-style;
    border-top: none;
    display: flex;
    align-items: center;
    .external-link-box {
      margin: 0;
      padding: 0;
      width: 16px;
      height: 16px;
      .external-link-icon {
        color: $twitter-text-and-border;
        font-size: 16px;
      }
    }

    .twitter-advertisement-link {
      color: $twitter-text-and-border;
      text-decoration: none;
      font-size: 12px;
      padding: 0;
      margin-left: 5px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

/* ###############  main-page part end  ###############*/
